# Canonical contributor identity.
f-tuma <flamendrin@gmail.com>
f-tuma <flamendrin@gmail.com> <261622887+f-tuma@users.noreply.github.com>
f-tuma <flamendrin@gmail.com> <filip.tuma@frgtn.cz>
f-tuma <flamendrin@gmail.com> <hello@f-tuma.dev>
f-tuma <flamendrin@gmail.com> <tuma@spilberk.com>
